
@{
    ViewBag.Title = "404 - Not Found";
    ViewBag.PageDescription = "The resource you are looking for is either not available or the data is removed from the server. Please check the data and ensure you have clicked on a valid link.";
}
<link href="~/Content/themes30/pages/css/error.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12 page-404">
        <div class="number font-green"> 404 </div>
        <div class="details">
            <h3>Oops! You're lost.</h3>
            <p>
                We can not find the page you're looking for.
                <br />
                <a href="@Url.Action("Dashboard")"> Return home </a> or try the search bar below.
            </p>
            <form action="#">
                <div class="input-group input-medium">
                    <input type="text" class="form-control" placeholder="keyword...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn green">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </form>
        </div>
    </div>
</div>

